p{
    color:yellow;
    background-color: blue;
    font-size: larger;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  background-color: brown;
}
h2{
    font-size: x-large;
    color: blueviolet;
}